@charset "UTF-8";
/*‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾\
|                           |
|  SASS Variables & Mixins  |
|                           |
\__________________________*/
/*‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾\
|                        |
|  Colour theme styling  |
|                        |
\_______________________*/
body {
  background-color: #e5f5e8;
}

* {
  font-family: "Roboto", sans-serif;
}

nav {
  background-color: #3d3d3d;
  color: white;
}
nav .navButton {
  background-color: #707070;
}
nav .navButton:hover {
  background-color: #5c5c5c;
}
nav .navButton.navSelected:hover {
  background-color: #007a29;
}
nav .navSelected {
  background-color: #019d3f;
}
nav #navProfile {
  background-color: #019d3f;
}
nav #navProfile:hover {
  background-color: #007a29;
}
nav #navProfile #dropdownContent {
  background-color: #707070;
}
nav #navProfile #dropdownContent li:hover {
  background-color: #b8b8b8;
}
nav #title h1 {
  font-family: "Noto Sans JP", sans-serif !important;
}

#recordForm {
  background-color: white;
  border-radius: 5px;
}

#addArtist .artistHandler#noArtistFound {
  color: red;
}
#addArtist .artistHandler#artistFound {
  color: #019d3f;
}

#addRecords .inputRow .yearSide {
  background-color: #b8b8b8;
}
#addRecords .inputRow .xButton {
  height: 1.25rem;
  width: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
#addRecords .inputRow .xButton:hover {
  background-color: red;
  color: white;
  transition: background-color 0.5s, color 0.5s;
}
#addRecords #submitGroup .addRecordButton {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  margin: 0 0.25rem;
}

.secondaryButtons {
  background-color: #dbdbdb;
}
.secondaryButtons:hover {
  cursor: pointer;
  background-color: #b8b8b8;
}

.submitButtons {
  background-color: #12ac48;
}
.submitButtons:hover {
  cursor: pointer;
  background-color: #019d3f;
}

#viewRecordsContainer {
  background-color: white;
}

#profileContainer {
  background-color: white;
}

#queryFields #queryTickFields label:hover,
#queryFields #queryColumnFields label:hover {
  background-color: #eaeaea;
}
#queryFields #queryTickFields > input:checked + label,
#queryFields #queryColumnFields > input:checked + label {
  background-color: #12ac48;
  color: white;
}
#queryFields #queryTickFields > input:checked + label:hover,
#queryFields #queryColumnFields > input:checked + label:hover {
  background-color: #019d3f;
}

/*‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾\
|                        |
|  General Body Styling  |
|                        |
\_______________________*/
body {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

nav {
  display: flex;
  flex-direction: row;
  height: 3.5rem;
}
nav #title {
  margin-left: auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
}
nav #title > h1 {
  margin: 0;
}
nav .navButton {
  height: 100%;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
nav #navProfile {
  margin: 0;
  width: 3.5rem;
}

#navProfile #dropdownContent {
  margin: 3.5rem 0 0 0;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
}
#navProfile #dropdownContent span {
  padding: 15px 10px;
  cursor: pointer;
}
#navProfile #dropdownContent span:hover {
  background-color: #5c5c5c;
}
#navProfile #dropdownContent .hideProfileButton {
  pointer-events: none;
  opacity: 50%;
}

main .mainContainer {
  width: 70%;
  border: 1px solid;
}
main #addView {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
main #viewView {
  display: none;
  flex-direction: column;
  align-items: center;
}
main #profileView {
  display: none;
  flex-direction: column;
  align-items: center;
}

/*‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾\
|                    |
|  Add Records View  |
|                    |
\___________________*/
#addView #recordForm {
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 450px;
  padding: 25px;
}
#addView #recordForm .formSeparators {
  padding: 15px;
}
#addView #recordForm #addArtist {
  flex: 0 1 0;
  display: flex;
}
#addView #recordForm #addRecords {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: inherit;
  max-height: inherit;
}

#recordForm div,
#recordForm section {
  border: 1px solid;
}

#addArtist > div {
  border: none;
  padding: 0 5px;
}
#addArtist .disabled {
  pointer-events: none;
  opacity: 0.5;
}
#addArtist .artistHandler {
  display: none;
  margin: 0 0 0 auto;
}

#addRecords > * {
  padding: 10px;
  margin: 10px;
}
#addRecords .recordGroup > div {
  display: flex;
  flex-direction: row;
  padding: 5px;
}
#addRecords .recordGroup > div > div {
  border: 0;
  margin: 0 5px;
}
#addRecords .recordGroup > div .yearDiv {
  display: flex;
  flex-direction: row;
}
#addRecords .recordGroup > div .yearDiv > div {
  margin: 0 0.5rem;
}
#addRecords .recordGroup > div .yearDiv > div > span {
  padding: 0 0.25rem 0 0;
  height: 100%;
  display: inline-block;
}
#addRecords .recordGroup > div .yearDiv .yearInput {
  width: 3rem;
  border: none;
  height: 100%;
  margin: 0;
  padding: 0;
}
#addRecords .recordGroup > div .xButton {
  margin-left: auto;
}
#addRecords #submitGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: auto;
  order: 99;
}

/*‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾\
|                     |
|  View Records View  |
|                     |
\____________________*/
#viewRecordsContainer div,
#viewRecordsContainer section {
  border: 1px solid;
}
#viewRecordsContainer .containerSeparator {
  padding: 15px;
}
#viewRecordsContainer #queryForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#viewRecordsContainer #queryForm #searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
}
#viewRecordsContainer #queryForm #searchBar #filterToggle {
  width: 1.5rem;
  height: 1.5rem;
}
#viewRecordsContainer #queryForm #searchBar #searchBarInput {
  width: auto;
}

#queryFields {
  display: none;
  flex-direction: column;
  padding: 0.5rem;
}
#queryFields > h4 {
  margin: 0;
}
#queryFields .querySectionContainer {
  display: flex;
  flex-direction: row;
}
#queryFields .querySectionContainer > div {
  padding: 0.5rem;
}
#queryFields #querySearchFields .querySearchContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5rem;
}
#queryFields #querySearchFields .querySearchContainer > label {
  padding-right: 0.5rem;
}
#queryFields #querySearchFields #queryYearContainer > div input {
  width: 4rem;
}
#queryFields #queryTickFields,
#queryFields #queryColumnFields {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#queryFields #queryTickFields input,
#queryFields #queryColumnFields input {
  display: none;
}
#queryFields #queryTickFields label,
#queryFields #queryColumnFields label {
  border: 1px solid;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
  width: 100%;
  text-align: center;
}
#queryFields #querySortFields {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}
#queryFields #querySortFields > label {
  align-self: center;
  padding-right: 0.5rem;
}
#queryFields #querySortFields > button {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
}
#queryFields #querySortFields > button.ascendingOrder {
  transform: rotate(180deg);
}
#queryFields #querySubmitField {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: end;
}
#queryFields #querySubmitField button {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  margin: 0 0.25rem;
}

.recordTable {
  border-spacing: 0 0.2rem;
  width: 100%;
}
.recordTable colgroup #colTitle {
  width: 35%;
}
.recordTable colgroup #colArtist {
  width: 20%;
}
.recordTable colgroup #colYear {
  width: 15%;
}
.recordTable colgroup .tableColCheck {
  width: 10%;
}
.recordTable tr:nth-child(even) {
  background-color: #dbdbdb;
}
.recordTable tr:nth-child(odd) {
  background-color: white;
}
.recordTable .tableCheckbox {
  pointer-events: none;
}

/*‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾\
|                     |
|  View Profile View  |
|                     |
\____________________*/

/*# sourceMappingURL=styles.css.map */
