body {
	padding: 0;
	margin: 0;
}

html, body{
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}

nav {
	display: flex;
	flex-direction: row;
	background-color: lightgray;
	padding: 15px;

	#title {
		margin-left: auto;

		& > h1 {
			margin: 0;
		}
	}
}

#addView{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;

	#recordForm {
		border: 1px solid;
		display: flex;
		flex-direction: column;
		width: 70%;
		height: auto;
		max-height: 450px;
		padding: 25px;
	
		.formSeparators {
			padding: 15px;
		}
	
		#addAuthor {
			flex: 0 1 0;
		}

		#addRecords {
			display: flex;
			flex-direction: column;
		}
	}
}

// temp
#recordForm div, #recordForm section { 
	border: 1px solid;
}

#addRecords {
	overflow-y: scroll;
	overflow-x: hidden;
	min-height: inherit;
	max-height: inherit;

	& > * {
		padding: 10px;
		margin: 10px;
	}

	.recordGroup > div {
		padding: 5px;
	}

	#submitGroup {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		margin-top: auto;
		order: 99;
	}
}

// #recordForm {
// 	border: 1px solid;
// 	display: flex;
// 	flex-direction: column;
// 	height: auto;
// 	max-height: 420px;
// 	padding: 25px;

// 	.innerLayer {
// 		display: flex;
// 		flex-direction: column;
// 		height: 100%;
// 	}

// 	#addAuthor {
// 		flex: 1 1 0;
// 		margin-right: 5px;

// 		& > * {
// 			margin: 10px;
// 		}
// 	}

// 	#addRecords {
// 		flex: 2 1 0;
// 		overflow-x: hidden;
// 		overflow-y: scroll;
// 		max-height: inherit;
// 	}
// }

// #addRecords {
// 	.recordGroup {
// 		margin: 10px;
// 	}
	
// }

// #mainInput {
// 	display: flex;
// 	flex-direction: row;
// 	justify-content: space-evenly;
// }

// #mainInput > section {
// 	display: flex;
// 	flex-direction: column;
// 	padding: 5px;
// }

// .inputsection {
// 	margin: 10px;
// }

// #submitbuttons {
// 	display: flex;
// 	flex-direction: row;
// 	justify-content: flex-end;
// 	margin-top: auto;
// 	order: 99;
// }

// .submit {
// 	margin: 1px;
// }